.elements {
  width: 70%;
  margin: 50px 0px 0px;
  padding: 0%;
  gap: 17px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
}

.element {
  list-style: none;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: column;

  /* animacion */
  animation: animation-elements linear both;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.element__image {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.element__trash {
  background-image: url("/images/Trash.svg");
  background-color: rgba(240, 248, 255, 0);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
  top: 18px;
  right: 15px;
  height: 19px;
  width: 18px;

  position: absolute;
  transition: all 0.5s ease;
  &:hover {
    scale: 1.5;
  }
}

.element__white {
  display: flex;
  justify-content: space-around;

  border-radius: 0px 0px 15px 15px;

  background-color: white;
}

.element__white_title {
  color: black;
  font-size: 24px;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.element__white_button {
  background-color: white;
  background-image: url("/images/Group.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
  height: 19px;
  width: 21px;

  display: flex;
  align-self: center;
  transition: all 0.5s ease;
  &:hover {
    scale: 1.7;
  }
}

.element__white_button-active {
  background-color: rgba(255, 7, 7, 0);
  background-image: url("/images/likeactive.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
  height: 19px;
  width: 21px;

  scale: 1;
  display: flex;
  align-self: center;
  position: relative;
  animation-name: like-heard;
  animation-duration: 0.3s;
  animation-iteration-count: 2;
}

/* chica */

@media screen and (min-width: 320px) and (max-width: 768px) {
  .elements {
    width: 90%;
    margin: 50px 0px 0px;
    padding: 0%;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }
}

/* animacion */

@keyframes animation-elements {
  from {
    opacity: 0; /* controla opacidad */
    translate: 0 100px; /* controla movimiento inicial */
    scale: 0.9; /* controla la escala */
  }
  to {
    opacity: 1;
    translate: 0 0; /* controla movimiento final */
    scale: 1; /* controla la escala */
  }
}

@keyframes like-heard {
  from {
    opacity: 1;
    scale: 1;
  }
  to {
    scale: 1.3;
    opacity: 1;
  }
}
