.footer {
  color: #545454;
  margin: 67px 0px 60px;
  width: 70%;
  display: flex;
}
/* chica */
@media screen and (min-width: 320px) and (max-width: 768px) {
  .footer {
    width: 90%;
    margin: 50px 0px 36px;
  }
}
